*{
    margin: 0;
    padding: 0;
}
.head-section{
    color: rgb(248, 224, 9);
    font-size: 50px;
    display: flex;
    width: 80%;
    margin-bottom: 50px;
    align-items: center;
}

.title{
    color: red;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}
body{

    background-image: url(./temp.images/sunshine_36366417_ver1.0-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10%;
   padding-left: 20%;
}
.tempBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    box-shadow: 0px 0px 600px rgb(248, 224, 9);
    border: none;
    border-radius: 75px;
    background: rgba(169, 190, 236, 0.925);
    align-items: center;
    
}
.tempBox img{
    width: 80%;
    height: auto;
}